<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include("header.ejs") %>
    <div class="blog-view">
        <h1 class="blog-header"><%= blog.title %></h1>
        <p class="blog-author">By <%= blog.author %> on <%= blog.date %></p>
        <img src="/images/notebook.jpg">
        <div class="blog-content">
            <% 
            let paragraphs = blog.content.split('\n\n');
            let firstParagraph = paragraphs.shift();
            %>
            <p>
                <span class="drop"><%= firstParagraph.charAt(0) %></span>
                <%= firstParagraph.slice(1) %>
            </p>
            <% paragraphs.forEach(element => { %>
                <p class="indent"><%= element %></p>
            <% }); %>
        </div>
        <a href="/show-all" class="btn btn-card no-underline">Back</a>
    </div>
    
</body>
</html>
